html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.main-container {
    height: 100%;
    padding: 0 10px 10px 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: normal;
}

.centralize {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.current-mail {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logout {
    position: absolute;
    top: 10px;
    right: 10px;
}

.archive-options h1 {
    width: content-box;
}

.archive-options h1, .archive-options h2, .archive-options button, .archive-options .spinner {
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    display: flex;
}

.archive-options .spinner {
    position: absolute;
    top: -80px;
}

.archive-options .wrapper {
    position: relative;
    margin: 0 auto;
}

.archive-options .email-input {
    width: 100%;
}

.node-input label, .node-input input {
    font-size: 12px;
    line-height: normal;

}

.node-input .ms-TextField-fieldGroup {
    height: 21px;
    line-height: normal;

}

.archive-options input {
    width: 100%;
    line-height: normal;
}

.archive-options .last-checkbox {
    padding-bottom: 100px;
}

.archive-options h2 {
    padding-top: 20px;
}

.archive-options .folder-icon {
    font-size: 30px;
    padding-top: 7px;
    padding-right: 10px;
}

.archive-options .folder h1 {
    padding: 0;
    margin: 0;
}

.message-bar {
    position: fixed;
    left: 0;
    right: 0;
    margin: 80px auto;
    width: 80%;
    z-index: 100;
}

.bread-crumb {
    padding-bottom: 5px;
}

.bread-crumb button {
    padding-right: 0;
    padding-left: 0;
}

.bread-crumb span {
    padding-right: 0;
    padding-left: 0;
    font-size: 13px;
}

.bread-crumb button div {
    font-size: 13px;
}

.not-selectable {
    user-select: none;
    cursor: pointer;
}

.sticky {
    position: sticky;
    top: 0;
    padding-top: 10px;
    z-index: 20;
    background-color: white;
}

.sticky-folder {
    width: 100%;
    position: sticky;
    top: 78px;
    height: 25px;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

.sticky-folder h1 {
    width: auto;
}

.command-bar {
    padding-top: 5px;
}

.command-bar div {
    padding: 0 0 0 1px;
}

.command-bar i, .command-bar span {
    margin: 0;
    font-size: 12px;
}

.command-bar span {
    padding-left: 2px;
    margin: 0;
    font-size: 12px;
}

.login {
    width: 75%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    text-align: center;
}

.login p {
    position: absolute;
}

.login .username-input {
    margin-top: -60px;
}

.login .password-input {
    margin-top: 30px;

}

.login > button {
    margin-top: 50px;
}

.login label {
    text-align: left;
}
